---
import { getCollection } from 'astro:content';
import Layout from "../components/layout.astro";
import FormatDate from "../components/FormattedDate.astro";
import '../styles/tailwind.css';


const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

---

<Layout>
    <div>
        <h1>Yazılar </h1>
        <p class="mb-8 font-light">Merhaba, bloguma hoş geldiniz! Blogumda çeşitli konularda yazılarımı paylaşıyorum. Javascript dünyasından, deneyimlerimden ve belki de bazen sıradan görünen anılar bulacaksınız...</p>
        <ul class="list-disc list-inside flex flex-col gap-2">
        {posts.map(item => {
            return  <li><a href={`/blog/${item.slug}/`} class="hover:text-white text-white/80 font-bold">{item.data.title}</a> <span class="text-sm"><FormatDate date={item.data.pubDate}/></span></li>
        })}
        </ul>
    </div>
</Layout>
