---
import { getCollection } from 'astro:content';
import Layout from "../components/layout.astro";
import '../styles/tailwind.css';


const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

---

<Layout>
    <div>
        <h1 class="text-3xl mb-4">Yazılar </h1>
        {posts.map(item => {
            return <a href={`/blog/${item.slug}/`} class="block mb-2 hover:underline text-blue-500">{item.data.title}</a>
        })}
    </div>
</Layout>
