---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<DefaultLayout>
	<section class="w-full md:w-2/3 mx-auto p-[50px] md:p-[100px]">
		<h1></h1>
		<h1 class="text-5xl font-bold mb-6">Projeler</h1>

		<p>
			<a href="https://dailyread.net" class="text-blue-500 underline" target="blank">Dailyread</a> - Yapay zeka ile yazılmış günde bir tane makale sunan, dil öğrenme ve okuma alışkanlığı kazandırmak için hedeflenmiş bir web uygulaması. 
			<div class="text-black/50 text-sm">Teknolojiler: react, zustand, tailwindcss, framer-motion, openai, supabase, langchain, react-hook-form, usehooks-ts</div>
		</p>
		<br />

		<p>
			<a href="https://github-insight.vercel.app/" class="text-blue-500 underline" target="blank">Github Insight</a> - Github profillerinin detaylı analizni çıkaran bir web uygulaması.  
			<div class="text-black/50 text-sm">Teknolojiler: react, redux, sass, github-api, nextjs, fusioncharts, react-icons, redux-toolkit </div>
		</p>
		<br />

		<p>
			<a href="https://equalization-game.vercel.app/" class="text-blue-500 underline" target="blank">Equalization Game</a> - fikri bana ait olan matrixdeki sayıları eşitleme oyundur. Çözümü hala ispatlanmamıştır. Bitirmek mümkün olmayabilir. Hala üzerine düşünüyorum.  
			<div class="text-black/50 text-sm">Teknolojiler: react, react-icons, react-i18next, tailwindcss</div>
		</p>
		<br />

		<p>
			<a href="https://choose-the-right.vercel.app/" class="text-blue-500 underline" target="blank">Choose the Right Game </a> - Oynaması çok basit bir renk tahmin oyunu. Dört renkten birine tıklamanız gerekiyor. Bunlardan üçü doğru, biri yanlıştır.  
		</p>
		<br />

		<p>
			<a href="https://arti-eksi-oyunu.vercel.app/" class="text-blue-500 underline" target="blank">Artı Eksi Oyunu</a> - Arkadaşımın isteği üzerine yaptığım, zihninizi ufaktan çalıştıracak keyifli bir oyun.    
		</p>
		<br />
	</section>
	
</DefaultLayout>