---
import Layout from "../components/layout.astro";
---

<Layout>
  <section>
    <h1>Projeler ✨</h1>
    <p>
      <a
        href="https://dailyread.net"
        class="text-white underline"
        target="blank">Dailyread</a
      > - Yapay zeka ile yazılmış günde bir tane makale sunan, dil öğrenme ve
      okuma alışkanlığı kazandırmak için hedeflenmiş bir web uygulaması.
      <div class="text-white/50 text-sm">
        Teknolojiler: react, zustand, tailwindcss, framer-motion, openai,
        supabase, langchain, react-hook-form, usehooks-ts
      </div>
    </p>
    <br />

    <p>
      <a
        href="https://github-insight.vercel.app/"
        class="text-white underline"
        target="blank">Github Insight</a
      > - Github profillerinin detaylı analizni çıkaran bir web uygulaması.
      <div class="text-white/50 text-sm">
        Teknolojiler: react, redux, sass, github-api, nextjs, fusioncharts,
        react-icons, redux-toolkit
      </div>
    </p>
    <br />

    <p>
      <a
        href="https://equalization-game.vercel.app/"
        class="text-white underline"
        target="blank">Equalization Game</a
      > - fikri bana ait olan matrixdeki sayıları eşitleme oyundur. Çözümü hala
      ispatlanmamıştır. Bitirmek mümkün olmayabilir. Hala üzerine düşünüyorum.
      <div class="text-white/50 text-sm">
        Teknolojiler: react, react-icons, react-i18next, tailwindcss
      </div>
    </p>
    <br />

    <p>
      <a
        href="https://choose-the-right.vercel.app/"
        class="text-white underline"
        target="blank"
        >Choose the Right Game
      </a> - Oynaması çok basit bir renk tahmin oyunu. Dört renkten birine
      tıklamanız gerekiyor. Bunlardan üçü doğru, biri yanlıştır.
    </p>
    <br />

    <p>
      <a
        href="https://arti-eksi-oyunu.vercel.app/"
        class="text-white underline"
        target="blank">Artı Eksi Oyunu</a
      > - Arkadaşımın isteği üzerine yaptığım, zihninizi ufaktan çalıştıracak
      keyifli bir oyun.
    </p>
    <br />
  </section>
</Layout>
