---
import Layout from "../components/layout.astro";
---

<Layout>
  <section>
    <h1>Projeler ✨</h1>
    <p class="mb-8 font-light">Projelerimin bazılarını aşağıda görebilirsiniz.</p>
    <br />

    <p>
      <a
        href="https://github-insight.vercel.app/"
        class="underline"
        target="blank">Github Insight</a
      > - Github profillerinin detaylı analizni çıkaran bir web uygulaması.
      <div class="text-black/50 text-sm">
        Teknolojiler: react, redux, sass, github-api, nextjs, fusioncharts,
        react-icons, redux-toolkit
      </div>
    </p>
    <br />

    <p>
      <a
        href="https://choose-the-right.vercel.app/"
        class="underline"
        target="blank"
        >Choose the Right Game
      </a> - Oynaması çok basit bir renk tahmin oyunu. Dört renkten birine
      tıklamanız gerekiyor. Bunlardan üçü doğru, biri yanlıştır.
    </p>
    <br />

    <p>
      <a
        href="https://arti-eksi-oyunu.vercel.app/"
        class="underline"
        target="blank">Artı Eksi Oyunu</a
      > - Arkadaşımın isteği üzerine yaptığım, zihninizi ufaktan çalıştıracak
      keyifli bir oyun.
    </p>
    <br />
  </section>
</Layout>
