<footer class="text-gray-800 text-center pb-[20px]">
	<p>Bu site <a href="https://astro.build/" class="text-fuchsia-800 font-bold">Astro<a/> ile kurulmuştur,</p> kaynak kodlarına <a href="https://github.com/yasinelbuz/myblog" class="text-gray-600 text-yellow-600 font-bold" target="blank">Github</a> üzerinden ulaşabilirsiniz.
</footer>
