<header
  class="py-8 flex gap-4 px-2 md:px-0 justify-center md:justify-start items-center border-b border-white/5 mb-8"
>
  <a href="/" class="text-white/80">Blog</a>
  <a href="/about" class="text-white/80">Hakkında</a>
  <a href="/projects" class="text-white/80">Projeler</a>
</header>
