---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---


<header
  class="py-8 flex gap-4 px-2 md:px-0 justify-center md:justify-start items-center border-b border-black/8 mb-8"
>
  <a href="/" class:list={['font-extrabold', currentPath === "" ? "active" : ""]}>Blog</a>
  <a href="/about" class:list={['font-extrabold', currentPath === "about" ? "active" : ""]}>Hakkında</a>
  <a href="/projects" class:list={["font-extrabold", currentPath === "projects" ? "active" : ""]}>Projeler</a>
  <a href="/links" class:list={["font-extrabold", currentPath === "links" ? "active" : ""]}>Keşfettiklerim</a>
</header>
