---
import type { HTMLAttributes } from 'astro/types';
import { SITE_TITLE } from '../consts';

---

<header class="text-gray-600 flex flex-wrap p-5 flex-col md:flex-row items-center">
	<h2 class="flex items-end gap-2">
		<a href="/" class="text-xl">
		<span>{SITE_TITLE}</span>
		<span class="text-gray-500/50"> - Yazılım Geliştiricisi</span>
		</a>
	</h2>

    <nav class="md:ml-auto flex flex-wrap gap-2 items-center text-base justify-center">
      	<a href="/">Ev</a>
		<a href="/about">Hakkımda</a>
		<a href="/project">Projeler</a>
    </nav>
</header>
